/* Universal Selector */
/* *{
    color: red;
} */

/* Tag Selector or Element Selector */
h1{
    text-align: center;
    color: green;
}

/* Attribute Selector */
a[title="google"]{
    letter-spacing: 20px; 
}

/* id Selector */
#para{
    text-indent: 40px;
}

.class-select{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}
